button {
  margin-left: 2px;
  width: 40px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #64697b;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('/assets/background.jpg');
  background-size: 100% 100%;
  font-family: 'Quicksand', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1050px;
  border-radius: 8px;
}
.containerLista {
  background-color: whitesmoke;
  width: 508px;
  height: 450px;
  overflow-y: scroll;
  border-radius: 8px;
}

.lista {
  margin-top: 1rem;
  margin-bottom: -1rem;
  display: flex;
  align-items:center;
  justify-content: center;
}
.lista p {
  min-width: 300px;
  max-width: 300px;
  text-align: start;
  font-size: 20px;
  font-weight: bold;
  color: #4d4f57;
}
.checkbox {
  width: 22px;
  height: 22px;
  border-radius: 5px;
  border: 2px solid #64697b;
  box-shadow: none;
  margin: 10px;
}
.header {
  background-color: #1b5699;
  width: 508px;
  height: 70px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
  border-radius: 5px;
}
.addButton {
  border: none;
  background-color: #1b5699;
  width: 508px;
  height: 60px;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}
.inputName {
  border: #1b5699;
  background-color: whitesmoke;
  width: 500px;
  height: 60px;
  border-radius: 5px;
  font-size: 25px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}
input:focus {
  outline: none;
}